language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI 서버의 Home
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

# gradlew 명령어 권한 추가
before_install:
  - chomod +x gradlew

# CI 실행 완료시 메일로 알람
notifications:
  email:
    recipients:
      - bkuekany@gmail.com
